/prontocisapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/cats/__pycache__/*
/apps/cats/migrations/*
/apps/dogs/__pycache__/*
/apps/dogs/migrations/*
/apps/frogs/__pycache__/*
/apps/frogs/migrations/*
/apps/fishs/__pycache__/*
/apps/fishs/migrations/*
/apps/horses/__pycache__/*
/apps/horses/migrations/*
/apps/ducks/__pycache__/*
/apps/ducks/migrations/*
/apps/cows/__pycache__/*
/apps/cows/migrations/*
/apps/pigs/__pycache__/*
/apps/pigs/migrations/*
/apps/lions/__pycache__/*
/apps/lions/migrations/*




